$preto: rgb(14, 13, 13);

$laranja-principal: #ff7300;
$laranja-escuro: #ce5d00;
$laranja-claro: #ffdabc;

$cinza: #c7c7c7;
$cinza-escuro: #6e6e6e;

$branco-1: #fffcfc;
$branco-2: rgb(240, 240, 240);

$azul-escuro: rgb(0, 0, 94);
$azul-claro: rgb(0, 132, 255);