@use 'colors';
@use 'sass:math';

$height:8vh;

.header{

    height: 16vh;
    font-size: 0.75rem;
    background-color: colors.$laranja-principal;

    display: flex;
    flex-direction: row;
    gap: 16vw;
    justify-content: center;
    align-items: center;
    font-weight: 600;

    &__logo{
        max-height: calc($height * 0.95);
        min-height: calc($height * 0.8);
        transition: 0.3s ease;
    }

    &__logo:hover{
        transition: 0.3s ease;
        transform: scale(1.5);
    }

    &__nav{
        display: flex;
        flex-direction:column;
        gap: 1vh;
        justify-content: center;
    }

    &__nav__link{
        color: colors.$branco-1;
        transition: ease 0.3s;
    }

    &__nav__link:hover{
        transition: ease 0.3s;
        color: colors.$laranja-claro;
    }
}

@media (min-width:1024px){


    .header{

        height: 8vh;
        font-size: 1rem;
        position: fixed;
        top:0;
        z-index: 999;
        left: 0;
        right: 0;



    &__nav{
        display: flex;
        flex-direction:row;
        gap: 2vw;
        justify-content: center;
    }
    }
}