@use 'colors';
@use 'sizes';
@use 'sass:math';

.intro{

    height: 100vh;

    background-image: url('../Imagens/intro.jpg');
    width: 100%;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    flex-direction: column;


    &__title{
        color: colors.$preto;
        font-size: calc(2rem);
        padding-bottom: 10%;
        padding-top:10%;

        &__focus{
            font-size: calc(3.5rem);
            padding-bottom: 20%;
            padding-left: 1vw;
            color: colors.$branco-1;
            text-shadow:
            2px 2px 0 colors.$laranja-principal,
            -2px 2px 0 colors.$laranja-principal,
            2px -2px 0 colors.$laranja-principal,
            -2px -2px 0 colors.$laranja-principal,
            0px 2px 0 colors.$laranja-principal,
            2px 0px 0 colors.$laranja-principal,
            -2px 0px 0 colors.$laranja-principal,
            0px -2px 0 colors.$laranja-principal;
        }
    }


}



@media (min-width:1024px){

        .intro{
            flex-direction: row;
            justify-content: center;

            &__title{
                font-size: calc(4rem);
                padding-bottom: 20%;
                padding-top: 0;

                &__focus{
                    padding-bottom: 20%;
                }
            }
        }
}