@use 'colors';
@use 'sizes';
@use 'sass:math';


.title{

    height: 12vh;
    justify-content: center;
    background-color: colors.$preto;

    display: flex;
    flex-direction: center;

    &__title{
        color: colors.$branco-1;
        padding-top: 2rem;
        font-size: calc(sizes.$titulo-grande * 1.5);

    }
}



@media (min-width:1024px){

    .servicos{
        height: 92vh;
        background-color: colors.$preto;

        display: flex;
        justify-content: center;

        &__title{
            color: colors.$branco-1;
            justify-self: center;
        }

        &__card:hover{

            transform: scale(1.05) rotateX(12deg);
            transition: ease 0.3s;
        }

        &__card{
        
            display: grid;
            grid-template-columns: 1fr 12fr 1fr;
            grid-template-rows: 16fr 1fr;

            max-width: 32vw;

            transition: ease 0.3s;

            &__inner-card{
                grid-column: 2;
                grid-row: 1;

                display: grid;
                grid-template-columns: 1fr 12fr 1fr;
                grid-template-rows: 5% 10% 10% 20% 5% 5% 35% 10%;

                align-items: center;
                justify-items: center;

                border: 2px solid;
                border-radius: 12px;
                border-color: colors.$laranja-principal;

                &__title{
                    color: colors.$laranja-escuro;
                    font-size: calc(sizes.$titulo-padrao * 1.5);

                    grid-column: 2;
                    grid-row: 2;

                    text-align: center;
                }

                &__sub-title{
                    color: colors.$branco-1;

                    grid-column: 2;
                    grid-row: 3;

                    text-align: center;
                }

                &__text{
                    color: colors.$branco-1;

                    grid-column: 2;
                    grid-row: 4;

                    text-align: justify;
                }

                &__button{
                    grid-column: 2;
                    grid-row: 5;

                    height: 6vh;
                    width: 8vw;

                    min-height: 5vh;
                    min-width: 5vw;

                    background-color: colors.$branco-1;
                    color: colors.$laranja-principal;
                    border-color: colors.$laranja-escuro;

                    font-weight: bold;

                    transition: 0.3s ease;
                }

                &__button:hover{

                    background-color: colors.$laranja-principal;
                    color: colors.$branco-1;
                    border-color: colors.$laranja-escuro;

                    transition: ease 0.3s;
                    cursor: pointer;

                }

                &__img{
                    min-width: 200px;
                    max-width: 100%;
                    object-fit: cover;

                    grid-column: 2;
                    grid-row: 7/9;

                    border-radius: 8px;
                }
            }
        }
    }
}