@use 'colors';
@use 'sizes';
@use 'sass:math';


.title{

    height: 12vh;
    justify-content: center;
    background-color: colors.$preto;

    display: flex;
    flex-direction: center;

    &__title{
        color: colors.$branco-1;
        padding-top: 2rem;
        font-size: calc(sizes.$titulo-grande * 1.5);

    }
}


.servicos{
    display: flex;
    flex-direction: column;
    gap: 2vh;

    height: 100hv;
    background-color: colors.$preto;

    &__card{
        display: flex;
        flex-direction: column;
        grid-column: 2;

        width: 80%;
        align-self: center;

        &__inner-card{
            display: grid;
            row-gap: 2vh;

            border: 2px solid;
            border-radius: 12px;
            border-color: colors.$laranja-principal;

            &__title{
                color: colors.$laranja-escuro;
                text-align: center;
                padding-left: 10%;
                padding-right: 10%;
            }


            &__sub-title{
                color: colors.$branco-1;
                text-align: center;
                padding-left: 10%;
                padding-right: 10%;
            }

            &__text{
                color: colors.$branco-1;
                text-align: justify;
                padding-left: 10%;
                padding-right: 10%;
                
            }

            &__button{
                background-color: colors.$branco-1;
                color: colors.$laranja-principal;
                border-color: colors.$laranja-escuro;

                width: 30vw;
                height: 4vh;

                align-self: center;
                justify-self: center;
            }

            &__button:hover{
                background-color: colors.$laranja-principal;
                color: colors.$branco-1;
                border-color: colors.$laranja-escuro;
            }

            &__img{
                width:80%;
                justify-self: center;
                padding-bottom: 8%;
            }
        }
    }
}


@media (min-width:1024px){

    .servicos{
        height: 92vh;

        display: flex;
        flex-direction: row;
        justify-content: center;

        &__card:hover{

            transform: scale(1.05) rotateX(12deg);
            transition: ease 0.3s;
        }

        &__card{
        
            display: grid;
            grid-template-columns: 1fr 12fr 1fr;
            grid-template-rows: 16fr 1fr;

            max-width: 100%;
            height: 95%;
            transition: ease 0.3s;

            &__inner-card{
                grid-column: 2;
                grid-row: 1;

                display: grid;
                grid-template-columns: 1fr 12fr 1fr;
                grid-template-rows: auto;

                align-items: center;
                justify-items: center;

                border: 2px solid;
                border-radius: 12px;
                border-color: colors.$laranja-principal;

                &__title{
                    font-size: calc(sizes.$titulo-padrao * 1.5);

                    grid-column: 2;
                    grid-row: 1;

                    text-align: center;
                }

                &__sub-title{
                    grid-column: 2;
                    grid-row: 2;

                    text-align: center;
                }

                &__text{
                    grid-column: 2;
                    grid-row: 3;

                    text-align: justify;
                }

                &__button{
                    grid-column: 2;
                    grid-row: 4;

                    height: 6vh;
                    width: 8vw;

                    min-height: 5vh;
                    min-width: 5vw;

                    font-weight: bold;

                    transition: 0.3s ease;
                }

                &__button:hover{
                    transition: ease 0.3s;
                    cursor: pointer;
                }

                &__img{
                    min-width: 200px;
                    max-width: 100%;
                    object-fit: cover;

                    grid-column: 2;
                    grid-row: 5/8;

                    border-radius: 8px;
                }
            }
        }
    }
}